<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Why</title>
    <link href="/css/ionic.min.css" rel="stylesheet">
    <link rel="stylesheet" href='/css/my/dscountdown.css' type='text/css' media='all'/>
    <link href="/css/my/font-awesome.css" rel="stylesheet">
    <link href="/css/my/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700" rel="stylesheet">
    <script src="/js/ionic.bundle.min.js"></script>
    <script type="text/javascript" src="/js/my/dscountdown.min.js"></script>
    <script type="text/javascript" src="/js/my/jquery-1.11.1.min.js"></script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<style>
    img {
        width: 500px;
        height: 200px;
    }
</style>
<body ng-app="myApp" ng-controller="myCtrl">
<ion-view title="Home" hide-nav-bar="true">
    <ion-content class="card-background-page">
        <h1 class="agile-head text-center">site Under maintenance</h1>
        <div class="container-w3">
            <div class="content1-w3layouts">
                <img src="" alt="under-construction">
                <p class="text-center">Sorry for the inconvenience.To improve our services, we have momentarily shutdown our site.</p>
            </div>
            <div class="demo2"></div>
            <div class="content2-w3-agileits">
                <form action="#" method="post" class="agile-info-form">
                    <input type="email" class="email" placeholder="Enter your email address" required="">
                    <input type="submit" value="get notified!">
                    <div class="clear"> </div>
                </form>
            </div>
            <div class="wthree-social-icons">
                <ul class="w3-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            </form>
        </div>
        </div>
        <div class="agileits-w3layouts-copyright text-center">
            <p>© 2017 Site Under Maintenance. All rights reserved | Design by <a href="//w3layouts.com/">W3layouts</a></p>
        </div>

    </ion-content>
</ion-view>

<ion-footer-bar>
    <div class="visible tabs tabs-icon-top">
        <a class="tab-item" href="/index">
            <i class="icon ion-ios-home" style="color: #20411f"></i>
            <i style="color: #20411f">主页</i>
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-ios-paper" style="color: #20411f"></i>
            <i style="color: #20411f">信息</i>
        </a>
        <a class="tab-item" href="/my">
            <i class="icon ion-android-person" style="color: #20411f"></i>
            <i style="color: #20411f">我的</i>
        </a>
    </div>
</ion-footer-bar>
</body>
<script>
    var app = angular.module('myApp',['ionic']);
    app.controller('indexCtrl', function ($scope, $http, $interval, $timeout) {
        alert(0);
        $('.demo2').dsCountDown({
            endDate: new Date("february 26, 2025 23:59:00"),
            theme: 'black'
        });
    })
</script>
</html>