<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Title</title>
    <link href="/css/ionic.css/" rel="stylesheet">
    <script src="/js/ionic.bundle.min.js"/>
    <link href="https://cdn.bootcss.com/ionic/1.3.2/css/ionic.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/ionic/1.3.2/js/ionic.bundle.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<ion-side-menus>
    <!-- 中间内容 -->
    <ion-side-menu-content ng-controller="ContentController">
        wjb
    </ion-side-menu-content>

    <!-- 左侧菜单 -->
    <ion-side-menu side="left">
        abc
    </ion-side-menu>

    <!-- 右侧菜单 -->
    <ion-side-menu side="right">
        kkk
    </ion-side-menu>
</ion-side-menus>
</body>
<script>
    var app = angular.module('myApp', ['ionic'])
    app.controller('myCtrl', function ($scope, $ionicBackdrop, $timeout) {

    });
    app.controller('ContentController',function ($scope, $ionicSideMenuDelegate) {
        $scope.toggleLeft = function () {
            $ionicSideMenuDelegate.toggleLeft();
        };
    });


</script>
</html>