<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Why</title>
    <link href="/css/ionic.min.css" rel="stylesheet">
    <script src="/js/ionic.bundle.min.js"></script>

</head>
<style>
    ion-list img{
        width: 40px;
        height: 40px;
    }
</style>
<body ng-app="indexApp" ng-controller="indexCtrl">

<ion-side-menus>
    <!-- 中间内容 -->
    <ion-side-menu-content>
        <ion-content>

            <div class="item item-image" style="width: 500px;height: 150px;">
                <img ng-src="{{src}}"/>
            </div>

            <ion-list>
                <ion-list-header></ion-list-header>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="http://bpic.588ku.com/back_pic/00/02/38/985617612c20a1e.jpg">
                    </ion-avatar>
                    <h2>Woody</h2>
                    <p>This town ain't big enough for the two of us!</p>
                    <ion-note item-end>3:43 pm</ion-note>
                </ion-item>

                <ion-item>
                    <ion-avatar item-start>
                        <img src="http://bpic.588ku.com/back_pic/00/02/23/365614dbcddb654.jpg">
                    </ion-avatar>
                    <h2>Buzz Lightyear</h2>
                    <p>My eyeballs could have been sucked from their sockets!</p>
                    <ion-note item-end>1:12 pm</ion-note>
                </ion-item>

                <ion-item>
                    <ion-avatar item-start>
                        <img src="http://bpic.588ku.com/back_pic/00/02/37/0356173582d4c95.jpg">
                    </ion-avatar>
                    <h2>Buzz Lightyear</h2>
                    <p>My eyeballs could have been sucked from their sockets!</p>
                    <ion-note item-end>1:12 pm</ion-note>
                </ion-item>

            </ion-list>


        </ion-content>
    </ion-side-menu-content>
    <!-- 左侧菜单 -->
    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <div class="item item-image">
                <img src="http://bpic.588ku.com/back_pic/00/05/67/31562759dd13a5f.jpg"/>
            </div>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close href="/hacker">
                    <h2>学习</h2>
                </ion-item>
                <ion-item nav-clear menu-close href="#">
                    <h2>生活</h2>
                </ion-item>
                <ion-item nav-clear menu-close href="#">
                    <h2>视频</h2>
                </ion-item>
                <ion-item nav-clear menu-close href="#">
                    <h2>电影</h2>
                </ion-item>
                <ion-item nav-clear menu-close href="#">
                    <h2>书籍</h2>
                </ion-item>
            </ion-list>
        </ion-content>



    </ion-side-menu>

    <!-- 右侧菜单 -->
    <ion-side-menu side="right">
        <div>
            <img src="http://bpic.588ku.com/back_pic/00/05/67/31562759dd13a5f.jpg"/>
        </div>
    </ion-side-menu>
</ion-side-menus>

<ion-footer-bar>
    <div class="visible tabs tabs-icon-top">
        <a class="tab-item" href="#">
            <i class="icon ion-ios-home" style="color: #20411f"></i>
            <i style="color: #20411f">主页</i>
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-ios-paper" style="color: #20411f"></i>
            <i style="color: #20411f">信息</i>
        </a>
        <a class="tab-item" href="/my">
            <i class="icon ion-android-person" style="color: #20411f"></i>
            <i style="color: #20411f">我的</i>
        </a>
    </div>
</ion-footer-bar>
</body>
<script type="text/javascript">
    var app = angular.module('indexApp', ['ionic']);
    app.controller('indexCtrl', function ($scope, $http, $interval, $timeout) {
        $scope.src = null;
        $scope.images = null;

        $http.get("/image").then(function (data) {
            $scope.images = data.data;
            $scope.src = data.data[1];
        });

        $scope.timer = $interval(function () {
            var Range = 30 - 0;
            var Rand = Math.random();
            var num = 0 + Math.round(Rand * Range); //四舍五入
            $scope.src = $scope.images[num];
        }, 5000);


    })


</script>

</html>