<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Why</title>
    <link href="/css/ionic.min.css" rel="stylesheet">
    <script src="/js/ionic.bundle.min.js"></script>

</head>
<body ng-app="indexApp" ng-controller="indexCtrl">

<ion-side-menus>
    <!-- 中间内容 -->
    <ion-side-menu-content>
        <ion-content>
            <div class="item item-image">
                <img ng-src="{{src}}"/>
            </div>



            <ion-fab bottom right >
                <button ion-fab>Share</button>
                <ion-fab-list side="top">
                    <button ion-fab>Facebook</button>
                    <button ion-fab>Twitter</button>
                    <button ion-fab>Youtube</button>
                </ion-fab-list>
                <ion-fab-list side="left">
                    <button ion-fab>Vimeo</button>
                </ion-fab-list>
            </ion-fab>



            <ion-fab center middle>
                <button ion-fab color="danger"><ion-icon name="md-share"></ion-icon></button>
                <ion-fab-list side="top">
                    <button ion-fab color="primary"><ion-icon name="logo-vimeo"></ion-icon></button>
                </ion-fab-list>
                <ion-fab-list side="bottom">
                    <button ion-fab color="secondary"><ion-icon name="logo-facebook"></ion-icon></button>
                </ion-fab-list>
                <ion-fab-list side="left">
                    <button ion-fab color="light"><ion-icon name="logo-googleplus"></ion-icon></button>
                </ion-fab-list>
                <ion-fab-list side="right">
                    <button ion-fab color="dark"><ion-icon name="logo-twitter"></ion-icon></button>
                </ion-fab-list>
            </ion-fab>




        </ion-content>
    </ion-side-menu-content>
    <!-- 左侧菜单 -->
    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Left</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#">
                    历史
                </ion-item>
                <ion-item nav-clear menu-close href="#">
                    历史
                </ion-item>
                <ion-item nav-clear menu-close href="#">
                    历史
                </ion-item>
                <ion-item nav-clear menu-close href="#">
                    历史
                </ion-item>
                <ion-item nav-clear menu-close href="#">
                    历史
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

    <!-- 右侧菜单 -->
    <ion-side-menu side="right">
        right
    </ion-side-menu>
</ion-side-menus>

<ion-footer-bar>
<div class="visible tabs tabs-icon-top">
    <a class="tab-item" href="#">
        <i class="icon ion-ios-home" style="color: #20411f"></i>
        <i style="color: #20411f">主页</i>
    </a>
    <a class="tab-item" href="#">
        <i class="icon ion-ios-paper" style="color: #20411f"></i>
        <i style="color: #20411f">信息</i>
    </a>
    <a class="tab-item" href="/my">
        <i class="icon ion-android-person" style="color: #20411f"></i>
        <i style="color: #20411f">我的</i>
    </a>
</div>
</ion-footer-bar>
</body>
<script type="text/javascript">
    var app = angular.module('indexApp', ['ionic']);
    app.controller('indexCtrl', function ($scope, $http,$interval,$timeout) {
        $scope.src = null;
        $scope.images = null;

        $http.get("/image").then(function (data) {
            $scope.images = data.data;
            $scope.src = data.data[1];
        });

        $scope.timer = $interval(function () {
            var Range = 30 - 0;
            var Rand = Math.random();
            var num = 0 + Math.round(Rand * Range); //四舍五入
            $scope.src = $scope.images[num];
        }, 5000);








    })


</script>

</html>